<!--NEW CAMPGROUND PAGE-->

<%- include('../partials/header') %>

<div class="container">

    <div class="row">
        <h1 style="text-align: center">Create a New Campground</h1>

        <div style="width:30%; margin: 25px auto; ">
            <form action="/campgrounds" method="post">
                <div class="form-group">
<!--                    <label>         *** adding this tag messes up the bootstrap styling, but
                                                        jetbrains wants it-->
                        <input class="form-control" type="text" placeholder="name" name="name">
<!--                    </label>-->
                </div>
                <div class="form-group">
<!--                    <label>-->
                        <input class="form-control" type="text" placeholder="image url" name="image">
<!--                    </label>-->
                </div>
                <div class="form-group">
<!--                    <label>-->
                        <input class="form-control" type="text" placeholder="description"
                               name="description">
<!--                    </label>-->
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary" type="submit">
                        Submit!
                    </button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
