<%- include('partials/header') %>

<h1> The Posts Page</h1>

<% for(let i = 0; i < posts.length; i++) { %>
    <li>
        <%= posts[i].title %> - <strong><%= posts[i].author %></strong>
    </li>
<% } %>

<% posts.forEach(function(post) { %>
    <li>
        <%= post.title %> - <strong><%= post.author %></strong>
    </li>
<% }); %>

<%- include('partials/footer') %>
