<%- include('partials/header') %>

<div class="ui main text container segment">
    <div class="ui huge header">
        <%= blog.title %>
    </div>
    <div class="ui top attached">
        <div class="item">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <img id="show" class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <div class="description">
                <p><%- blog.body %></p>
            </div>
        </div>
    </div>
</div>
<div class="ui text container">
    <a id="update" href="/blogs/<%= blog._id %>/edit" class="ui violet big basic button">Edit</a>
    <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
        <!--'?_method=DELETE is a marker that tells the method-override package what to do-->
        <button class="ui red big basic button">DELETE</button>
    </form>
</div>

<%- include('partials/footer') %>
