h1{
    color: rgba(0, 200, 100, 0.8);
    /*border-color: purple;
    border-width: 5px;
    border-style: solid;*/

    border: 10px dashed purple;
}
/*borders have:
width
color
style*/

h4{
    background: rgb(255, 100, 80);
}

body{
    background: pink;
/*    background: url("https://images-na.ssl-images-amazon.com/images/I/81X24r2jOOL._AC_SL1200_.jpg") no-repeat;
    background-size: cover; */
}