body{
    max-width: 700px;
    width: 80%;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    font-family: "Source Sans Pro";
    padding: 20px;
}
h2{
    font-weight: bold;
    text-transform: capitalize;
    color: #2c3e50;
    font-size: 2.0rem;
}
.quote{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}
.date{
    text-transform: uppercase;
    color: #3498db;
    letter-spacing: 0.2rem;
}
.post{
    margin-bottom: 20px;
}
hr{
    color: #bdc3c7;
    border: 0;
    height: 1px;
    background: #333 linear-gradient(to right, #ccc, #333, #ccc);
}