/*selector{*/
/*    property: value;*/
/*}*/

body{
    background: orange;
}

li{
    border: 2px solid red;
}

#special{
    background: black;
    color: aqua;
}

.completed{
    text-decoration: line-through;
}