body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #EA1C2C;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #EA1C2C;
}

#mainNavbar .navbar-brand {
  color: #EA1C2C;
  font-size: 1.5rem;
}

#headingText span {
  color: #EA1C2C;
}

#headingText h1 {
  font-weight: 100;
  font-size: 4rem;
}

.navbar.scrolled {
  background: rgb(222,192,222);
  transition: background 500ms;
}

@media (max-width: 1400px) {
  #headingText h1 {
    font-weight: 100;
    font-size: 3.5rem;
  }
}

@media (max-width: 1225px) {
  #headingText h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
